* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: #1f2641;
    color: #fff;
    font-family: "Montserrat", serif;
  }

  .container{
    width: 95%;
  }
  
  
  
  section h2{
    text-align: center;
    margin-bottom: 4rem;
  }
  
  h1,h2,h3,h4,h5{
    line-height: 1.2;
  }
  
  h1{
    font-size:2.4rem;
  }
  
  h2{
    font-size: 2rem;
  }
  h3{
    font-size: 1.6rem;
  }
  h4{
    font-size: 1.3rem;
  }
  .btn {
    display: inline-block;
    background: #fff;
    color: #fff;
    padding: 1rem 2rem;
    border: 1px solid transparent;
    font-weight: 500;
    transition: all 400ms ease;
  }
  .btn:hover {
    background: transparent;
    color: #fff;
    border-color: #fff;
  }
  .btn-primary {
    background: #f75842;
    color: #fff;
  }
  
  /* nav */
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 140px;
    font-size: 15px;
    font-weight: 500;
  }
  .header .logo {
    display: flex;
    align-items: center;
  }
  .header .logo img {
    width: 80px;
    height: 80px;
  }
  .header .nav-links {
    display: flex;
    align-items: center;
  }
  .header .nav-links a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
  }
  .header .nav-links a.active {
    font-weight: bold;
    border-bottom: 2px solid #4C6F8D;
  }
  .header .contact-info {
    display: flex;
    align-items: center;
    color: #fff;
  }
  .header .contact-info i {
    margin-right: 5px;
    color: #fff;
  }
  .header .contact-info a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 14px;
    color: #fff;
  }
  .header .social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
  }
  .header .social-icons a {
    margin: 0 5px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
  }
  .cta-button {
    background-color: #4C6F8D;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
  }
  .nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    gap: 100px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
  }
  .nav-menu a {
    margin: 0 10px;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }
  .nav-menu a.active {
    font-weight: bold;
    border-bottom: 2px solid #4C6F8D;
  }
  .nav-menu .dropdown {
    background-color: #4C6F8D;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    color: #fff;
  }
  .nav-menu .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f5e6e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  .nav-menu .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .nav-menu .dropdown-content a:hover {
    background-color: #ddd;
  }
  .nav-menu .dropdown:hover .dropdown-content {
    display: block;
  }

  /* main */
  
.main-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    position: relative;
}
.main-left-section {
    display: flex;
    align-items: center;
    width: 100%;
}
.main-left-section img {
    margin-right: 20px;
    width: 100%;
}
.main-left-section h1 {
    color: #E94B35;
    font-size: 48px;
    margin: 0;
}
.main-left-section h1 span {
    font-size: 24px;
    display: block;
    color: #E94B35;
}
.main-left-section .line {
    width: 100px;
    height: 2px;
    background-color: #E94B35;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .main-container {
        flex-direction: column;
        text-align: center;
    }
    .main-left-section {
        margin-bottom: 20px;
    }
}


/* culture content */

.culture-container {
    margin-top: 50px;
    background-color: #2e3267;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.text-content {
    max-width: 50%;
}
.text-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
.text-content h1 span {
    color: #ff4500;
}
.text-content h2 {
    color: #ff4500;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.text-content p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
}
.image-content {
    max-width: 45%;
}
.image-content img {
    width: 100%;
    border-radius: 10px;
}
@media (max-width: 768px) {
    .culture-container {
        flex-direction: column;
        padding: 20px;
    }
    .text-content, .image-content {
        max-width: 100%;
    }
    .text-content h1 {
        font-size: 2em;
    }
    .text-content p {
        font-size: 1em;
    }
}

/* Benefit */

.benefit-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}
.benefit-title {
    font-size: 36px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 40px;
}
.benefit-title span {
    color: #ff6b35;
}
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.grid-item {
    flex: 1 1 45%;
    max-width: 45%;
    margin: 10px;
    text-align: left;
}
.grid-item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    vertical-align: middle;
}
.grid-item h3 {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin: 0;
}
.grid-item p {
    font-size: 16px;
    color: #fff;
    margin-top: 10px;
}
@media (max-width: 768px) {
    .grid-item {
        flex: 1 1 100%;
        max-width: 100%;
    }
}

/* edge */

.edge-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}
.edge-left-section, .edge-right-section {
    background-color: #2e3267;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.edge-left-section {
    flex: 1.5;
    margin-right: 20px;
}
.edge-right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.edge-left-section h1 {
    font-size: 2.5em;
    color: #fff;
    margin-bottom: 10px;
}
.edge-left-section p {
    font-size: 1.2em;
    color: #fff;
    line-height: 1.5;
    margin-bottom: 40px;
}
.stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.stat {
    text-align: center;
    flex: 1;
}
.stat h2 {
    font-size: 2.5em;
    color: #fff;
    margin: 0;
}
.stat p {
    font-size: 1.1em;
    color: #fff;
    margin: 0;
}
.edge-right-section img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}
.edge-right-section h2 {
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 10px;
}
.edge-right-section p {
    font-size: 1.1em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}
.edge-right-section .btnss {
    background-color: #ff6f61;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
}
.edge-right-section .btn:hover {
    background-color: #e85b4f;
    cursor: pointer;
}
@media (max-width: 768px) {
    .edge-container {
        flex-direction: column;
    }
    .edge-left-section, .edge-right-section {
        margin: 0 0 20px;
    }
    .stats {
        flex-direction: column;
        gap: 10px;
    }
}


/*  */
.contact__container {
    background: #2e3267;
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
    margin-top: 190px;
  }
  .contact__aside {
    background: #6c63ff;
    padding: 3rem;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
  }
  .contact__aside h2 {
    text-align: left;
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
  .aside__image {
    width: 500px;
  }
  .contact__aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
  }
  .contact__details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }
  .contact_socials {
      display: flex;
      gap: 0.8rem;
      margin-top: 3rem;
      list-style: none;
  }
  .contact_socials a {
    color: white;
    background:#2e3267;
    padding: 0.5rem;
    border-radius:50%;
    font-size: 0.9rem;
  }
  .contact_socials a:hover{
      background: transparent;
      transition: all 400ms ease ;
  }
  
  /* for form */
  .contact__form{
     display: flex;
     flex-direction: column;
       gap: 1.2rem;
       margin-right:4rem;
       margin-bottom: 50px;
  }
  .form__name{
      display: flex;
      gap: 1.2rem;
  }
  
  .contact__form input[type ="text"]{
      width: 50%;
  }
   input,textarea{
  width: 100%;
  padding: 1rem;
  background:#1f2641;
  color: #fff;
  }
  .contact__form .btn{
      width: max-content;
      cursor: pointer;
      margin-top: 1rem;
  
  }
  
   @media screen and (max-width:1024px) {
      .contact {
  padding-bottom: 0;
      }
      .contact__container{
          gap: 1.5rem;
          margin-top: 3rem;
          height: auto;
          padding: 1.5rem;
      }
      .contact__aside{
          width: auto;
          padding: 1.5rem;
          bottom: 0;
      }
      .contact__form{
          align-items: center;
          margin-right: 1.5rem;
      }
   }
  
   @media screen and (max-width : 600px) {
      .contact__container{
          grid-template-columns: 1fr;
          gap: 3rem;
          margin-top: 0;
          padding: 0;
      }
      .contact__form{
          margin:0 1.5rem 3rem;
      }
   }


   /* office adress */
.office-address-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    margin-top: 30px;
}
.office-address {
    text-align: center;
    margin: 20px;
    max-width: 300px;
}
.office-address h2 {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.office-address h3 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
.office-address p {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.office-contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 25px;
    padding: 10px 20px;
    color: #333333;
    font-size: 16px;
    text-decoration: none;
}
.office-contact i {
    margin-right: 10px;
}
@media (max-width: 768px) {
    .office-address-container {
        flex-direction: column;
        align-items: center;
    }
}


/* footer */
.footer-container {
    margin-top: 50px;
    border-top: 1px solid white;
    margin: 0;
    color: #fff;
  }
  .footer {
    padding: 40px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .footer-column {
    flex: 1;
    min-width: 200px;
    margin: 10px;
  }
  .footer-column h3 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .footer-column p, .footer-column a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    line-height: 1.6;
  }
  .footer-column a:hover {
    text-decoration: underline;
  }
  .footer-logo {
    text-align: center;
  }
  .footer-logo img {
    max-width: 150px;
  }
  .footer-social {
    text-align: center;
    margin: 20px 0;
  }
  .footer-social a {
    color: #fff;
    margin: 0 10px;
    font-size: 20px;
  }
  .footer-contact {
    text-align: center;
    margin: 20px 0;
  }
  .footer-contact p {
    margin: 5px 0;
  }
  .footer-app {
    text-align: center;
    margin: 20px 0;
  }
  .footer-app a {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
  }
  .footer-app a:hover {
    background-color: #fff;
    color: #333;
  }
  .footer-address {
    text-align: center;
    margin: 20px 0;
  }
  @media (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .footer-column {
        text-align: center;
    }
  }
  .container11 {
    padding: 20px;
  }
  .title11 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .address-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .address {
    width: 30%;
    margin-bottom: 20px;
  }
  .address h3 {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .address p {
    margin: 0;
    line-height: 1.5;
  }
  .view-more1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  .view-more1 button {
    background-color: #444;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    display: flex;
    align-items: center;
  }
  .view-more1 button i {
    margin-left: 10px;
  }
  .footer11 {
    border-top: 1px solid #555;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9em;
  }
  .lines{
    width: 100%;
  }
  @media (max-width: 768px) {
    .address {
        width: 45%;
    }
  }
  @media (max-width: 480px) {
    .address {
        width: 100%;
    }
  }

 